/* Центрирование блока авторизации */
.block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    max-width: 400px; /* Ограничиваем максимальную ширину блока */
    margin: 20vh auto;
    padding: 20px;
}

.login-logo {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}

h1 {
    font-size: 25px;
    font-weight: 600;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

input.auth {
    width: 70%;
    padding: 12px;
    margin: 10px 0;
    border: 2px solid #000000;
    border-radius: 8px;
    font-size: 16px;
    background-color: #E0E0E0;
    box-shadow: 5px 5px #61C199;
}

button.auth {
    margin-top: 20px;
    width: 25%;
    padding: 12px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.toggle-button {
    margin-top: 20px;
    background-color: transparent;
    border: none;
    color: #61C199;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}

.toggle-button:hover {
    color: #45a049;
}