.block2 {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    margin: 10vh auto auto auto;
    max-width: 400px;
}
input.registration {
    width: 100%;
    padding: 12px;
    margin: 5px 0 0 0;
    border: 2px solid #61C199;
    border-radius: 8px;
    background-color: #D0FDEA;
}
.left{
    margin-left: 5%;
    margin-right: 10%;
}
h2 {
    margin: 15px 0 0 0;
    font-family: 'Gotham', Arial, sans-serif;
    font-size: 15px;
}
.birthdate-inputs {
    display: flex;
    width: 107%;
    gap: 10px; /* расстояние между input */
}

.birthdate-inputs input:nth-of-type(1),
.birthdate-inputs input:nth-of-type(3) {
    width: 25%;
}

.birthdate-inputs input:nth-of-type(2) {
    width: 50%; /* ширина второго input */
}
button.registration {
    margin-top: 20px;
    width: 50%;
    padding: 12px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}