@keyframes spinAndShrink {
    0% {
        transform: rotate(0deg) scale(1);
    }
    50% {
        transform: rotate(360deg) scale(1);
    }
    100% {
        transform: rotate(360deg) scale(1);
    }
}

.welcome-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Занять всю высоту экрана */
    overflow: hidden; /* Скрыть переполнение */
}

.logo {
    animation: spinAndShrink 3s ease-in-out;
}
