@font-face {
  font-family: 'Gotham';
  src: url('./fonts/gotham_medium.otf') format('opentype');
  font-weight: normal;
}
@font-face {
  font-family: 'Gotham-bold';
  src: url('./fonts/gotham_bold.otf') format('opentype');
  font-weight: bold;
}
body {
  background-image: url(../public/images/bg1.svg);
  font-family: 'Gotham-bold', Arial, sans-serif;
}